@import url('https://fonts.googleapis.com/css2?family=Inter&family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

::selection{
    background-color:#383737;
    }

.main-container{
    position: relative;
    background-image: url('back.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 110% 110%;
    background-position: -5rem 0rem;
    background-color: black;
    display:block;
    height: 65rem;
    width: 119.5rem;
    top: -1rem;
    left: -1rem;
}

.title{
    position: relative;
    font-size: 60px;
    color: white;
    word-spacing: 1.7rem;
    width: 50rem;
    top: 18rem; 
    left: 4rem;
    font-family: 'Orbitron', sans-serif;
}

.subtitle{
    position: relative;
    font-size: 35px;
    color: white;
    top: 20rem;
    left: 4rem;
    width: 50rem;
    font-family: 'Inter', sans-serif;
}

nav{
    position: relative;
    display: flex;
    justify-content:space-around;
    width: 100%;
    align-items: center;
    top: -17rem;
}

nav div{
    position: relative;
    font-size: 3rem;
    color: white;
    font-family: 'Inter', sans-serif;
}

.main-button{
    position: relative;
    background-color: #3BA8D7;
    border: white;
    font-family: 'Inter', sans-serif;
    font-size: 5rem;
    top: 25rem;
    left: 3rem;
    height: 8rem;
    width: 45rem;
    border-radius: 3rem;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    transition-duration: 0.8s;
}

.main-button a{
    text-decoration: none;
    color: white;
}


.main-button:hover{
    background-color:#236a88;
}

.second-container{
    position: relative;
    background-image: url('back2.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 110% 100%;
    background-position: -5rem 0rem;
    height: 65rem;
    width: 119.5rem;
    top: -1rem;
    left: -1rem;
}


.terminal-navbar{
    position: relative;
    display: flex;
    left: 1.5rem;
}
.terminal-navbar img{
    margin: 0.5rem;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.installation-title{
    position: relative;
    font-size: 4rem;
    top: 7rem;
    transform: translate(-50%, -50%);
    width: 50%;
    left: 48%;
    color: white;
    font-family: 'Orbitron', sans-serif;

}

.terminal-window{
    position: relative;
    font-size: 5rem;
    color: white;
    background-color: #1E1E1E;
    transform: translate(-50%, -50%);
    top: 15rem;
    left: 50%;
    width: 60%;
    height: 13rem;
    border-radius: 3rem;

}



.terminal-text{
    position: relative;
    font-size: 2rem;
    left: -8rem;
    top: 6rem;
    font-family: 'Quicksand', sans-serif;
}

.terminal-text:hover{
    opacity: 0.7;

}