<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cosmoterm</title>

    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="main-container">
        <div class="title">COSMOTERM - YOUR<br>
            TERMINAL MESSEGER
        </div>

        <div class="subtitle">
            An easy-to-use way to exchange messages<br> 
            between friends and acquaintances.<br>
            Never before has a person been able <br>
            to send a message so effortlessly!

        </div>

        <nav>
            <div class="home">Home</div>
            <div class="about">About</div>
            <div class="docs">Docs</div>
            <div class="examples">Examples</div>
            <div class="github">Github</div>
        </nav>
        

        <button class="main-button"><a href="home.html#start">Get started</a></button>
    </div>

    <div class="second-container">
        <div class="installation" id="start">
            <div class="installation-title">
                Download and open folder:
            </div>
            <div class="terminal-window">
                <div class="terminal-navbar">
                    <div class="red"><img src="red.png" alt="" srcset=""></div>
                    <div class="yellow"><img src="yellow.png" alt="" srcset=""></div>
                    <div class="green"><img src="green.png" alt="" srcset=""></div>
                <div class="terminal-text">
                    <span style="color: #569CD6">git clone</span>
                    https://github.com/IvanIsak2000/cosmoterm.git
                    <span style="color: #569CD6">&& cd src</span>
                </div>
                    
            </div>
        </div>
        
    </div>
</body>
</html>