<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cosmoterm</title>

    <link rel="stylesheet" href="static/home.css">
</head>
<body>
    <div class="main-container">
        <div class="title">COSMOTERM - YOUR<br>
            TERMINAL MESSEGER
        </div>

        <div class="subtitle">
            An easy-to-use way to exchange messages<br> 
            between friends and acquaintances.
        </div>

        <nav>
            <div class="home">Home</div>
            <div class="about">About</div>
            <div class="docs">Docs</div>
            <div class="examples">Examples</div>
            <div class="github">Github</div>
        </nav>
        

        <button class="main-button"><a href="#">Get started</a></button>
    </div>

    <div class="second-container">
        <div class="installation">Start</div>
        
    </div>
</body>
</html>